<%- include('partials/header.ejs') %>
    <h1>Bem-vindo a pagina de clientes!</h1>
    <h3>Lista de Clientes:</h3>
    <hr>
    <table class="table table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th>Nome:</th>
                <th>CPF:</th>
                <th>Endereço:</th>
            </tr>
        </thead>
        <tbody>
            <!-- FOREACH-->
            <% clientes.forEach(cliente => { %>
                <tr>
                    <td><%= cliente.nome %></td>
                    <td><%= cliente.cpf %></td>
                    <td><%= cliente.endereco %></td>
                </tr>

          <%  }) %>
        </tbody>
    </table>

<br>

    <ul>
        <li><a href="/produtos">Produtos</a></li>
        <li><a href="/">Homepage</a></li>
        <li><a href="/perfil">Perfil</a></li>
    </ul>
<%- include('partials/footer.ejs') %>